#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized.

**Objectives:**
* Python
* R
* SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numfy
3. Matplotlib

| Data Science Tools |
|--------------------|
| MySQL |
| Apache |
| MongoDB |

### Below are a few examples of evaluating arithmatic expressions in Python

In [1]:
#this is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [2]:
#this will convert 200 minutes into hours by dividing by 60
(200/60)

3.3333333333333335

##Author

Amanda Richter